@import url("https://fonts.googleapis.com/css2?family=Sixtyfour:BLED,SCAN@0..100,-53..100&display=swap");

:root {
    --font-size-root: 62.5%; /* 10px for easier rem calculation*/
    --font-size-reguler: 1.6rem; /* actual font size */
    --font-size-title: 5.2rem;
    --color-main: #9684ff;
    --color-main-bg: #1e1e1e;
    --color-secondary-bg: #252238;
    --color-dim: #999999;
    --color-border: #616161;
    --color-grayish: #3a484f;
    --margin-left-sect: 1.2rem;
    --margin-btwn-sect: 26rem;
    --margin-btwn-text: 1.2rem;
    --color-navbar-blur-top: linear-gradient(#bd84ff1a, #00000000);
    --color-navbar-blur-btm: linear-gradient(to top, #bd84ff1a, #00000000);
}

/* --- remove default style --- */

body,
p, ul {
    padding: 0;
    margin: 0;
}

h1,
h2, li {
    all: unset;
    display: block;
}

/* --- apply new default style ---*/

html {
    scroll-behavior: smooth;
    font-family: "Sixtyfour", sans-serif;
    font-size: var(--font-size-root);
    text-wrap: wrap;
}

body {
    font-size: var(--font-size-reguler);
    color: var(--color-main);
    background: var(--color-main-bg);
    line-height: 2.8rem;
    margin-top: 2.8rem;
}

h2 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    margin-bottom: 2.6rem;
}

a {
    color: var(--color-main);
}

/* --- utils --- */
/* .w-95p-m-auto {
    width: 95vw;
    margin: 0 auto;
} */

/* 🗃️SECT: Navigation Bar */

    /* BUG: little gap at bottom */
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--color-main-bg);
}

.navbar-bar {
    display: flex;
    height: 5.5rem;
    font-size: 2.4rem;
    align-items: center;
    justify-content: space-between;
}

.navbar-bar span {
    background-color: var(--color-main);
    padding: 1.2rem 1.3rem;
}

.navbar-bar-empty {
    width: 100%;
    height: 50%;
    margin: 0 0.8rem;
}

    /* BUG: cant set width */
.navbar-bar-burger {
    width: 3rem;
}

.navbar-menu {
    display: none;
    box-sizing: border-box;
    list-style-type: none;
    background-color: var(--color-main);
    height: 27.6rem;
    width: 34.2rem;
    padding: 0.8rem 0 3.2rem 0;
    margin-bottom: 0.8rem;
    margin-left: auto;
}

.navbar-menu li {
    text-decoration: none;
    margin-left: 2rem;
    margin-top: 1.6rem;
}

.navbar-menu li a {
    text-decoration: none;
    font-size: 2.4rem;
    color: var(--color-main-bg);
}

.navbar-blur div {
    position: fixed;
    height: 8.8rem;
    width: 100%;
}

.navbar-blur-top {
    top: 0;
    background: var(--color-navbar-blur-top);
    backdrop-filter: blur(2.5px);
}

.navbar-blur-btm {
    bottom: 0;
    background: var(--color-navbar-blur-btm);
    backdrop-filter: blur(1px);
}

/* 🗃️SECT: Home Section */

.home {
    margin-left: var(--margin-left-sect);
    height: 100vh;
}

.home-title {
    font-size: var(--font-size-title);
    letter-spacing: -0.25rem;
    line-height: 6.4rem;
    /* width: 100vw; */
}

.home-loading {
    margin: 4.2rem 0;
}

.home-text p {
    margin: 1.2rem 0;
}

/* 🗃️SECT: About Section */

.about {
    margin-left: var(--margin-left-sect);
    margin-bottom: var(--margin-btwn-sect);
}

.about-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-bottom: 3.6rem;
}

.about-img {
    filter: saturate(20%) blur(2px);
    opacity: 70%;
    width: 100%;
    border-radius: 0.8rem;
}

.about-img:nth-child(1) {
    grid-area: 1 / 3 / 3 / 5;
}

.about-img:nth-child(2) {
    grid-area: 2 / 1 / 6 / 4;
}
.about-img:nth-child(3) {
    grid-area: 4 / 2 / 8 / 6;;
}

.about-text {
    width: 34rem;
}

.about-text p {
    margin-bottom: var(--margin-btwn-text);
}
